/* Our Team Container */
.OurTeamContainer {
    color: white; /* Text color */
    text-align: left; /* Center align text */
  }
  
  /* Title */
  .OurTeamTitle {
    font-size: 3rem; /* Responsive font size */
    color: #12c2e9;
    margin-bottom: 30px; /* Space below title */
    padding-left: 10%;
    padding-top: 10%;
  }
  
  /* Team Members Layout */
  .TeamMembers {
    display: flex;
    justify-content: space-around; /* Space between members */
    flex-wrap: wrap; /* Wrap members on smaller screens */
    padding-left: 8%;
    padding-right: 8%;
  }
  
  /* Individual Team Member */
  .TeamMember {
    background-color: #2a2d30; /* Member card background */
    border-radius: 15px; /* Rounded corners */
    padding: 20px;
    margin-right: 4px;
    margin-top: 10px;
    width: 170px; /* Fixed width for cards */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Shadow effect */
    transition: transform 0.3s ease; /* Smooth scaling effect */
    cursor: pointer;
  }
  
  /* Scale effect on hover */
  .TeamMember:hover {
    transform: scale(1.05); /* Slightly enlarge the card */
  }
  
  /* Member Image */
  .MemberImage {
    width: 100%; /* Responsive image */
    border-radius: 15px; /* Match card corners */
  }
  
  /* Member Name */
  .MemberName {
    font-size: 1.5rem; /* Responsive font size */
    margin: 10px 0; /* Space above and below */
  }
  